.CellMain {
    background-color: var(--main-bg-color);
    border: 1px var(--main-text-color) solid;
    height: 10vh;
    padding: 3vh;
    padding-left: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    transition: var(--transition-time);
}

.CellMain:hover {
    cursor: default;
    border-color: var(--bright-text-color);
    background-color: var(--dim-bg-color);
}

.CellMain .pfp {
    height: 11vh;
    width: 11vh;
    border-radius: 50%;
    margin: 0px;
    background-color: blue;
    border: solid 2px var(--main-text-color); 
    transition: var(--transition-time);
}

.CellMain:hover .pfp {
    border-color: var(--bright-text-color);
    height: 11.5vh;
    width: 11.5vh;
}

.CellMain .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vh;
    padding: 0;
}

.CellMain .text h1 {
    margin: 0;
    margin-bottom: 1vh;
    transition: var(--transition-time);
}

.CellMain:hover .text h1 {
    color: var(--bright-text-color);
}

.CellMain .text a {
    color: var(--dim-text-color);
    transition: var(--transition-time);
}

.CellMain:hover .text a {
    font-size: 1.65vh;
}