.CellMain {
    display: flex;
    font-size: 1.5vh;
    padding: 1vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-text-color);
    height: 10vh;
    width: 18.5vw;;
    transition: 350ms;
}

.pfp {
    height: 95%;
    border-radius: 50%;
    border: solid 1px var(--main-text-color);
    transition: inherit;
    margin-right: 1.5vh;
}

.text .a {
    font-size: 1.75vh;
    transition: 350ms;
    position: relative;
    color: inherit;
}

.text .a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--dim-text-color);
    visibility: hidden;
    transition: all 0.3s;
}

.CellMain:hover {
    border-color: var(--bright-text-color);
    background-color: var(--dim-bg-color);
    border-radius: 1%;
    color: var(--bright-text-color);
}

.CellMain:hover .pfp {
    transform: scale(1.05);
}

.CellMain:hover .text .a::after {
    visibility: visible;
    width: 100%;
}

.CellMain:hover .text .a {
    color: var(--dim-text-color);
}