.leetmain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-text-color);
    height: 32.5vh;
    padding: 1vh;
    transition: 350ms;
    animation: fadeIn 350ms linear;
}

.leetmain:hover {
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-color: var(--bright-text-color);
    border-radius: 1%;
}

.leetmain .leftside img {
    margin: 2.5vh;
    border-radius: 50%;
    height: 15vh;
    border: solid 1px var(--main-text-color);
    width: 15vh;
    transition: 250ms;
}

.leftside .usernom {
    transition: color 350ms;
    position: relative;
    padding-bottom: 0.25vh;
}

.leftside .usernom::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: var(--dim-text-color);
    transition: width 350ms ease-in-out, left 350ms ease-in-out;
    transform: translateX(-50%);
}

.leetmain:hover .usernom::after {
    width: 100%;
    left: 0;
    transform: none;
}

.leetmain:hover .leftside .usernom::after {
    width: 100%;
}

.leetmain .leftside .usernom::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 350ms ease-in-out, left 350ms ease-in-out;
}


.leetmain .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh;
}

.bottomside {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middleside {
    width: 40%;
    padding: 1.5vh 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
}

.rightside {
    width: 35%;
    height: 75%;
    padding: 1.5vh 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.barchart {
    height: 17vh;
    width: 75%;
    padding: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bar {
    display: flex;
    transition: 200ms;
}

.bar:hover {
    transform: scale(1.05);
    color: var(--dim-text-color);
    background-color: var(--main-bg-color);
}

.bardata {
    animation: grow 1s;
    padding: 1vh;
}

.frac {
    width: 100%;
    display: flex;
    padding-right: 1vh;
    align-items: center;
    justify-content: end;
}

@keyframes grow {
    0% {
        padding: 0;
        width: 0%;
    }
}

.leet_title {
    text-align: center;
    font-size: 3vh;
    transition: var(--transition-time);
}

.leetmain:hover .leet_title {
    transform: scale(0.97);
    color: var(--dim-text-color);
}
