.leetmain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-text-color);
    height: 32.5vh;
    padding: 1vh;
    transition: 350ms;
    animation: fadeIn 350ms linear;
}

.leetmain:hover {
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-color: var(--bright-text-color);
    border-radius: 1%;
}

.leetmain .leftside img {
    margin: 2.5vh;
    border-radius: 50%;
    height: 15vh;
    border: solid 1px var(--main-text-color);
    width: 15vh;
    transition: 250ms;
}

.leftside .usernom {
    transition: color 350ms;
    position: relative;
    padding-bottom: 0.25vh;
}

.leftside .usernom::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 0;
    background-color: var(--dim-text-color);
    transition: width 350ms ease-in-out, left 350ms ease-in-out;
    transform: translateX(-50%);
}

.leetmain:hover .usernom::after {
    width: 100%;
    left: 0;
    transform: none;
}

.leetmain:hover .leftside .usernom::after {
    width: 100%;
}

.leetmain .leftside .usernom::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 350ms ease-in-out, left 350ms ease-in-out;
}

.leetmain:hover .usernom {
    color: var(--dim-text-color);
}

.leetmain:hover .leftside img {
    transform: scale(1.05);
}

.leetmain .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh;
}

.bottomside {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.middleside {
    width: 40%;
    background-color: red;
    padding: 1.5vh 0.5vw;
}

.rightside {
    width: 25%;
    background-color: aliceblue;
    padding: 1.5vh 0.5vw;
}
