.leetmain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-text-color);
    height: 32.5vh;
    padding: 1vh;
    transition: 350ms;
    animation: fadeIn 350ms linear;
}

.leetmain:hover {
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-color: var(--bright-text-color);
}

.leetmain .leftside img {
    margin: 1vh;
    border-radius: 50%;
    height: 12.5vh;
    border: solid 1px var(--main-text-color);
    width: 12.5vh;
    transition: 350ms linear;
}

.leetmain:hover .leftside img {
    transform: scale(1.02);
}

.leetmain .leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottomside {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 1vh;
}

.middleside {
    width: 40%;
    padding: 1.5vh 0.5vw;
}

.rightside {
    width: 35%;
    padding: 1.5vh 0.5vw;
}