.ProfileMain {
    position: absolute;
    top: 25%;
    left: 45%;
    height: 55.2vh;
    width: 45%;
    animation: fadeIn 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fadeIn 0.35s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
