.repo-main {
    position: absolute;
    top: 5vh;
    left: calc(21vh + 33.5vw);
    height: 87.9vh;
    width: calc(100vw - (21vh + 36vw));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-element,
.dummy {
    background-color: var(--main-bg-color);
    border: solid 2px var(--main-text-color);
    height: 15vh;
    padding: 1.5vh;
    transition: 350ms;
    opacity: 0;
}

.repo-element h3,
.dummy h3 {
    margin: -0.25vh 0;
    transition: 350ms;
}

.repo-element:hover,
.dummy:hover {
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-color: var(--bright-text-color);
    border-radius: 1%;
}

.scroll-readme {
    margin-top: 0.5vh;
    overflow-y: auto;
    max-height: 87.5%;
    scrollbar-width: 1px;
    scrollbar-color: var(--main-text-color);
}

.repo-element .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dummy {
    display: flex;
    align-items: center;
}

.dummy div {
    font-size: 2.25vh;
    margin-left: 5%;
}