.histmain {
    background-color: var(--main-bg-color);
    border: solid 2px var(--main-text-color);
    height: 25.5vh;
    width: 73vh;
    position: absolute;
    left: 7.5vh;
    top: 65vh;
    transition: 350ms;
    padding: 1vh;
    animation: fadeIn 1250ms ease-in-out;
    overflow: hidden;
}

.histmain:hover {
    border-color: var(--bright-text-color);
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-radius: 1%;
}

.hist_head {
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hist_head p {
    margin: 0;
}

.hist_head button {
    margin-left: 2vh;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
    font-weight: thin;
    padding: 0.25vh 1.5vh;
    transition: 350ms;
}

.histmain button.selected {
    border-color: var(--dim-bg-color);
    background-color: var(--bright-text-color);
    color: var(--main-bg-color);
    border-radius: 1%;
    transition: 100ms;
}

.histmain button:hover {
    border-color: var(--dim-bg-color);
    background-color: var(--dim-text-color);
    color: var(--dim-bg-color);
    border-radius: 1%;
    transition: 100ms;
}

.histmain button:active {
    background-color: var(--bright-bg-color);
    color: var(--dim-bg-color);
    transform: scale(97%);
}

.stats {
    margin-top: 1vh;
    height: 21vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.OAT {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 73vh;
    height: 22vh;
    animation: fadeIn 350ms ease-in-out;
}

.total-commits {
    display: flex;
    height: 17.5vh;
    width: 17.5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    position: relative;
    transition: 350ms;
    font-size: 1.5vh;
}

.total-commits p {
    font-size: 7.5vh;
    padding: 0;
    margin: 0;
}

.OAT:hover .total-commits{
    border-color: var(--bright-text-color);
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-radius: 1%;
}

.specs p {
    font-size: 2vh;
    color: var(--main-text-color);
    transition: 200ms;
}

.specs p:hover {
    color: var(--dim-text-color);
}