.projects-main {
    position: absolute;
}

.fade-in {
    animation: fadeIn 750ms ease-in-out;
}

.git-grid {
    position: relative;
    top: 3vh;
}

.giticon {
    position: absolute;
    height: 25vh;
    width: 25vh;
    padding: 2px;
    left: 60vh;
    top: 37.5vh;
    border-radius: 50%;
    cursor: pointer;
}

.giticon:hover {
    animation: shake 0.5s ease-out;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}