.main-commit {
    position: absolute;
    top: 7.5vh;
    left: 60vh;
    height: 21vh;
    width: 21vh;
    padding: 2vh;
    background-color: var(--main-bg-color);
    border: solid 2px var(--main-text-color);
    transition: 350ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0vh;
    animation: fadeIn 750ms ease-in-out;
}

.main-commit a {
    color: var(--main-text-color);
    transition: 350ms;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.main-commit:hover a {
    color: var(--dim-text-color);
    font-size: 1.75vh;
}

.main-commit p {
    margin: 0vh;
}

.main-commit:hover {
    background-color: var(--dim-bg-color);
    color: var(--bright-text-color);
    border-radius: 1%;
}

.main-commit a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 85%;
    transform: scaleX(0);
    height: 2px;
    background-color: var(--dim-text-color);
    transform-origin: bottom center;
    transition: transform 350ms;
}

.main-commit:hover a::after {
    transform: scaleX(1);
    transform-origin: bottom center;
    background-color: var(--dim-text-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}