.HomePageMain {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.welcome-text {
    font-size: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    height: 25px;
    width: max-content;
    top: 37vh;
    cursor: default;
    z-index: 0;
}

.welcome-text::before,
.welcome-text::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.welcome-text::before {
    z-index: 1;
    background: var(--main-bg-color);
    animation: typing 3.5s steps(48) 1s forwards;
}

.welcome-text::after {
    content: '';
    position: absolute;
    background-color: var(--main-text-color);
    z-index: 2;
    height: 100%;
    width: 1.5px;
    animation: typing 3.5s steps(48) 1s forwards, blinking 750ms steps(48) infinite;
}

.text-component {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 20px;
    transition: 300ms;
}

.text-component a{
    text-decoration: none;
    color: var(--dim-text-color);
}

.text-component a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    background-color: var(--dim-text-color);
    transform-origin: bottom center;
    transition: transform 300ms;
}

.text-component a:hover {
    color: var(--dim-text-color);
    font-size: 22px;
}

.text-component a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
    background-color: var(--dim-text-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    from {opacity: 100;}
    to {opacity: 0;}
}

@keyframes typing {
    to {left: 100%}
}