.HomePageMain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.welcome-text {
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 40vh;
}