/* Root Variables */
:root {
    --main-bg-color: rgb(43, 43, 43);
    --dim-bg-color: rgb(38, 37, 37);
    --bright-bg-color: rgb(76, 74, 74);
    --main-text-color: rgb(193, 193, 156);
    --dim-text-color: rgb(152, 152, 104);
    --bright-text-color: rgb(237, 237, 192);
    --transition-time: 250ms;
}

/* Global Styles */
body {
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: thin;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    position: relative;
}

/* Transitioner Element */
.transitioner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-text-color);
    opacity: 0;
    z-index: -1;
}

/* Keyframes for Animation */
@keyframes cover {
    0% {
        opacity: 1;
        z-index: 101;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

/* Animation Class */
.animate-cover {
    animation: cover 0.5s;
}