.EmailMain {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-text-color);
    position: absolute;
    top: 25%;
    left: 10%;
    height: 55vh;
    width: 28.5vw;
    display: flex;
    flex-direction: column;
    padding: 0vh 1.25vh 0vh 1.25vh;
    animation: fadeIn 0.35s ease-in-out;
}

.Title {
    font-size: 2vh;
    margin-bottom: 2vh;
    cursor: default;
}

.InputField {
    position: relative;
    margin-bottom: 1.5vh;
}

.InputField input,
.InputField textarea {
    border: solid 1px var(--main-text-color);
    background-color: var(--main-bg-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vh;
    padding: 7px;
    color: var(--main-text-color);
    outline: none;
}

.MailContents {
    height: 35vh;
    width: 27.5vw;
    resize: none;
}

.ReturnEmail,
.Subject {
    height: 2vh;
    width: 27.5vw;
}

.InputForm {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.EmailMain:hover {
    border-color: var(--bright-text-color);
}

.InputField input:hover,
.InputField textarea:hover {
    border-color: var(--bright-text-color);
    background-color: var(--dim-bg-color);
}

.InputField input::placeholder,
.InputField textarea::placeholder {
    color: var(--dim-text-color);
    font-size: 1.5vh;
}

.SendButton {
    position: absolute;
    border: 1px var(--main-bg-color) solid;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: thin;
    font-size: 20px;
    margin: 0;
    padding: 0.75vh 1vh;
    top: 1.25vh;
    right: 0.75vw;
    animation: fadeIn 500ms;
    transition: var(--transition-time);
}

.SendButton:hover {
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-text-color);
    color: var(--main-text-color);
}

.SendButton:active {
    transform: scale(0.95);
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    transition: var(--transition-time);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}