.ModelMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Model {
    font-size: 1.5vw;
    position: absolute;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.canvas {
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index: 10;
}