.NavBarMain {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
    padding-right: 1.5vh;
    margin-top: 1.5vh;;
    height: 100%;
}

.navbar-element {
    font-size: 2vh;
    font-weight: 100;
    text-decoration: none;
    color: rgb(193, 193, 156);
    padding: 1vh;
    display: flex;
    align-items: center;
    transition: 50ms;
    margin-left: 3vh;
}

.navbar-element:hover {
    color: rgb(43, 43, 43);
    background-color: rgb(193, 193, 156);
}